.underline-hover {
  position: relative;
  display: inline-block;
}

.underline-hover:hover {
  color:#5F45FF;
}

.underline-hover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -90%;
  height: 3px;
  background-color: #5F45FF; /* Cor padrão */
  transition: all 0.6s ease;
  transform: translateX(-50%); /* Centraliza o underline */
}

.underline-hover:hover::after {
  width: 100%;
  left: 0;
  transform: none; /* Remove a centralização ao hover */
}

/* Estilo padrão do cabeçalho */
#main-header {
  /* Fundo inicial*/
  transition: background-color 0.3s ease; /* Transição suave para o fundo */
}

/* Estilo quando o cabeçalho estiver "scrolled" */
#main-header.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

/*negrito em cards*/
span{
  font-weight: 700;
}

input:placeholder{
  color: black;
}